<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <add key="host" value="201.21.210.1" />
    <add key="port" value="3052" />
    <add key="server" value="201.21.210.1" />
    <add key="user" value="SYSDBA" />
    <add key="password" value="password" />
    <add key="database" value="/var/db/fbird/database.fdb" />
    <add key="role" value="CARTERA" />
    <add key="logfile" value="/tmp/sConsulta.log" />
 </appSettings>
</configuration>
